.font-cinzel-deco{
	font-family: 'Cinzel Decorative', cursive;
}
.font-cinzel{
	font-family: 'Cinzel', serif;
}
.font-spartan{
	font-family: 'Spartan', sans-serif;
}
.order-padding-bottom{
	padding-bottom: 20px;
}
.text-white{
	color: white;
}
.text-yellow{
	color: #cc9933;
}
.text-blue{
	color: #242444;
}
.bg-blue{
	background-color: #242444;
}
.bg-yellow{
	background-color: #cc9933;
}
.bg-grey{
	background-color: #ececec;
}
.text-order-form{
	font-size: 20px;
	font-family: 'Spartan', sans-serif;
}
.feedback-alert{
	background-color: #242444;
	color: #cc9933;
}
.feedback-top-margin{
	margin-top: 15px;
}
.feedback-input{
	width: 100%; 
	background-color: #ececec; 
	border:none; 
	color: #cc9933; 
	padding-left: 10px;
}
.feedback-input-radio{
	margin-right: 6px; 
	margin-left: 20px;
}
.feedback-label{
	margin-left: 20px; 
	margin-bottom: 0px!important;
	font-family: 'Spartan', sans-serif;
}
.input-error{
	color: #cc9933;
}
.order-form-header{
	padding-top: 30px; 
	padding-bottom: 30px;
}
.order-form-input{
	outline: none; 
	border-radius: 0;
}
.btn-custom{ 
	outline: none; 
	border:none; 
	display: inline-block; 
	text-decoration: underline; 
	font-size: 20px;
}
.btn-margin{
	margin-top: 20px;
}
.feedback-form-header{
	margin-top: 20px; 
	margin-bottom: 20px;
}
.feedback-radio-div{
	background-color: #ececec; 
	justify-content: center; 
	padding-left: 12px; 
	padding-top: 8px;
}
h1{
	font-family: 'Cinzel Decorative', cursive;
}

/*my-order-view*/
table {
	  border-collapse: collapse;
	  border-spacing: 0;
	  width: 100%;
	  background-color: #ececec;
	  font-size: 14px; 
	  font-weight: 450; 
	  color: #242444;
	  font-family: 'Spartan', sans-serif;
}
th, td {
	  text-align: left;
	  padding: 16px;
}
tr:nth-child(even) {
	  background-color: #fff;
}
.table-text{
		text-align: right;
}